<div class="container">
    <div class="row" style="padding: 20px 0;">
        <div class="col-12">
            <div class="bg-white">
                
                <div style="margin: 0 50px 50px 50px; display: grid; place-items: center;">

                    <h2 class="title" style="text-align: center; font-size: 30;"> My Work <b style="color: var(--primary-color);"> Experience</b></h2>
                    <p class="text-muted">Software/ Programs that I use for making different kind of projects </p>
                    

                    <div class="accordion w-100 shadow-sm" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                <div class="d-flex" style="gap: 15px;">
                                    <div class="p-2 circle-icon"> <b>01</b></div>
                                    <span>
                                        <strong>Executive Computer Education Leaders (EXCEL)</strong>
                                         <br> Calamba City, Laguna, October 2023 - June 2024 | 8 mos
                                    </span>
                                </div>
                                
                                
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <p class="accordion-body-text">
                                    <strong>Graphic Designer. </strong>Executive Computer Education Leaders (EXCEL) is an organization at City College of Calamba whose primary goal is to catalyze excellence in students by teaching computer literacy. As part of the Graphics Team in EXCEL, my role was to design social media postings, graphics and Powerpoint presentations that are used by the organization.
                                </p>
                            </div>
                          </div>
                        </div>
                        
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                <div class="d-flex" style="gap: 15px;">
                                    <div class="p-2 circle-icon"> <b>02</b></div>
                                    <span>
                                        <strong>Bagwis (Culion National High School) </strong>
                                         <br> Culion, Palawan , February 2024 - April 2024 | 3 mos
                                    </span>
                                </div>
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p class="accordion-body-text">
                                    <strong>Layout Artist. </strong>Designing newspaper layout and graphics for contests and competing at the Division, Regional and Nationals Schools Press Conference.
                                </p>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                <div class="d-flex" style="gap: 15px;">
                                    <div class="p-2 circle-icon"> <b>03</b></div>
                                    <span>
                                        <strong>Gender and Development (GAD) </strong>
                                         <br> Calamba City, Laguna, July 2021 - January 2022 | 7 mos
                                    </span>
                                </div>
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <p class="accordion-body-text">
                                    <strong>Data Encoder and Photo Editor. </strong>It is a data entry and photo editing job in the municipal Government of Calamba wherein we interview people, encode information, and edit their photos for ID
                                </p>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                  <div class="d-flex" style="gap: 15px;">
                                      <div class="p-2 circle-icon"> <b>04</b></div>
                                      <span>
                                          <strong>Anchor's  Dream Mobile Bar </strong>
                                           <br> Calamba City,  Laguna, January 2020 - April 2020 | 3 mos
                                      </span>
                                  </div>
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                              <div class="accordion-body">
                                  <p class="accordion-body-text">
                                      <strong>Freelance Graphic Artist. </strong>Graphic designs like posters, menu, logo, and photo editing that is needed in the business.
                                  </p>
                              </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                  <div class="d-flex" style="gap: 15px;">
                                      <div class="p-2 circle-icon"> <b>05</b></div>
                                      <span>
                                          <strong>Ang Lagaslas | Lecheria Integrated School </strong>
                                           <br> Calamba City, Laguna, June 2019 - November 2019 | 4 mos
                                      </span>
                                  </div>
                              </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                              <div class="accordion-body">
                                  <p class="accordion-body-text">
                                      <strong>Layout Artist. </strong>Making infographics and newspaper layouts that are used in competition for division and regional levels of different Schools
                                  </p>
                              </div>
                            </div>
                        </div>

                        

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>