<!-- <footer id="footer" class="mt-auto footer base-footer text-center p-3 sticky-footer" style="background-color:#2f2f41;">
    <div class="copyright">
        <p class="mb-0 text-white font-size-s">© 2023 - Copyright. All rights reserved.</p>
    </div>
</footer> -->

<footer class="footer base-footer p-6 sticky-footer" style="background-color:#000000; margin-top: 50px;">
    <div class="container">
        <div class="row">

            <div>
                
            </div>

            <div class="d-flex align-items-center" style="border-top: 1px solid white; margin-top: 30px;">
                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="" height="70" class="d-inline-block align-text-top p-1">
                    <span class="navbar-brand mb-0 h1 p-1"><b style="color: white;">JJ Designs</b></span>
                </a>
            </div>

            <div class="d-flex align-items-center justify-content-between" style="border-bottom: 1px solid white;">
                
                <div class="p-2 " style="max-width: 500px;">
                    <!-- <h5 class="text-white" style="text-align: left;">Together, let's create something truly remarkable! </h5> -->
                    <p class="text-white" style="text-align: left; font-size: 14px;">Together, let's create something truly remarkable! Let's connect to discuss how my experience and passion for design can contribute to your business success.</p>
                </div>
                <div >
                    <!-- <h5 class="text-white">Follow Us</h5> -->
                    <div class="social-icons">
                        <a href="#" class="bi bi-facebook" aria-label="Facebook"></a>
                        <a href="#" class="bi bi-twitter" aria-label="Twitter"></a>
                        <a href="#" class="bi bi-linkedin" aria-label="LinkedIn"></a>
                        <a href="#" class="bi bi-instagram" aria-label="Instagram"></a>
                    </div>
                </div>
                
            </div>

            <div class="col-md-3 mb-3 mb-md-0">
                
            </div>


            <!-- <div class="col-md-3 mb-3 mb-md-0">
                <h5 class="text-white">Contact Us</h5>
                <p class="text-white">Email: <a href="mailto:03jamesjuta0617@gmail.com">03jamesjuta0617@gmail.com</a></p>
                <p class="text-white">Phone: <a href="tel:+639067265342">+639067265342</a></p>
            </div>
            <div class="col-md-3 mb-3 mb-md-0">
                <h5 class="text-white">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div> -->

            <!-- <div class="col-md-3">
                <h5 class="text-white">Follow Us</h5>
                <div class="social-icons">
                    <a href="#" class="bi bi-facebook" aria-label="Facebook"></a>
                    <a href="#" class="bi bi-twitter" aria-label="Twitter"></a>
                    <a href="#" class="bi bi-linkedin" aria-label="LinkedIn"></a>
                    <a href="#" class="bi bi-instagram" aria-label="Instagram"></a>
                </div>
            </div> -->
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <p class="mb-0 text-white">&copy; 2024 All rights reserved by JJ Designs.
                </p>
            </div>
        </div>
    </div>
</footer>


<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Contact Us</h5>
                <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
                <p>Phone: <a href="tel:+1234567890">+123 456 7890</a></p>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <div class="social-icons">
                    <a href="#" class="bi bi-facebook" aria-label="Facebook"></a>
                    <a href="#" class="bi bi-twitter" aria-label="Twitter"></a>
                    <a href="#" class="bi bi-linkedin" aria-label="LinkedIn"></a>
                    <a href="#" class="bi bi-instagram" aria-label="Instagram"></a>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <p class="mb-0">&copy; 2024 Your Company. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer> -->