<div class="col-md-4">
    <div class="card mb-3 p-0">

        <img class="folio_image" src="{{ url_for('static', filename='img/portrait 01.jpg') }}" alt="">

    </div>
</div>

<div class="col-md-4">

    <div class="card mb-3 p-0">

        <img class="folio_image" src="{{ url_for('static', filename='img/portrait 02.jpg') }}" alt="">

    </div>

</div>

<div class="col-md-4">

    <div class="card mb-3 p-0">

        <img class="folio_image" src="{{ url_for('static', filename='img/portrait 03.jpg') }}" alt="">

    </div>

</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="folio_image" src="{{ url_for('static', filename='img/portrait 04.jpg') }}" alt="">
        
    </div>

</div>

<div class="col-md-4 anm_mod fast">
    <div class="card mb-3 p-0">

        <img class="folio_image" src="{{ url_for('static', filename='img/portrait 05.jpg') }}" alt="">

    </div>
</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="folio_image" src="{{ url_for('static', filename='img/portrait 06.jpg') }}" alt="">

    </div>

</div>

<div class="col-md-4 anm_mod fast">
    <div class="card mb-3 p-0">

        <img class="folio_image" src="{{ url_for('static', filename='img/portrait 07.jpg') }}" alt="">

    </div>
</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="folio_image" src="{{ url_for('static', filename='img/portrait 08.jpg') }}" alt="">

    </div>

</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="folio_image" src="{{ url_for('static', filename='img/portrait 09.jpg') }}" alt="">

    </div>

</div>