{% include "head.html" %}

<body>
    {% set active_page = 'portfolio' %}
    {% include "navbar.html" %}

    <!-- Portfolio -->
    <div class="container">
        <div class="row" style="padding: 20px 0; border: 1px solid red;">
            <div class="col-12">
                <div class="bg-white">

                    <div style="margin: 50px; display: grid; place-items: center; border: 1px solid red;">

                        <h2 class="title" style="text-align: center; font-size: 40px;"> <b class="gradient-text">Explore My Creative Projects</b></h2>
                        <p class="text-muted">Software/ Programs that I use for making different kind of projects </p>
                        
                        <div class="d-flex">
                            <li class="nav-item">
                                <a class="nav-link{% if active_page == 'home' %} active{% endif %}" href="{{ url_for('home') }}" > Home</a>
                            </li>
        
                            <li class="nav-item">
                                <a class="nav-link{% if active_page == 'portfolio' %} active{% endif %}" href="{{ url_for('portfolio') }}"> Portfolio</a>
                            </li>
        
                            <li class="nav-item">
                                <a class="nav-link{% if active_page == 'services' %} active{% endif %}" href="{{ url_for('services') }}"> Services</a>
                            </li>
        
                            <li class="nav-item">
                                <a class="nav-link{% if active_page == 'abouts' %} active{% endif %}" href="{{ url_for('abouts') }}" > Abouts</a>
                            </li>
                        </div>
                       
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% include "footer.html" %}
    
</body>
</html>