<div class="col-md-4">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/bagwis_mockup_1.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text" >Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Bagwis Vol 3 Issue 1</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/lagaslas_mockup_3.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Ang Lagaslas Vol 14 Issue 1</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/289.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Ang Lagaslas Vol 13 Issue 1</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/ang_lagaslas_vo3_issue1.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Ang Lagaslas Vol 3 Issue 1</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4 anm_mod fast">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/al2.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text" >Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Ang Lagaslas Vol 11 Issue 1</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/al4.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Ang Lagaslas Vol 12 Issue 1</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4 anm_mod fast">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/Nature_of_listening.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text" >Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Nature of Listening</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/Pork_tofu_sisig.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Pork Tofu Sisig</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/dozeeye_manual_mockup.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>DozeEye Manual</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4 anm_mod fast">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/excel_id.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text" >Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>EXCEL ID Design</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/card_design.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Card Design</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/anchors_mobile_cafe_menu.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Anchors Mobile Cafe Menu</b></h5>
        
        </div>

    </div>

</div> 
        
        
