<div class="col-md-4">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/dog_shampoo_1.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Product Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Dog Shampoo Lavander Scent</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/dog_shampoo_2.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Product Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Dog Shampoo Vanilla Scent</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/dog_shampoo_3.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Product Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Dog Shampoo Raspberry Scent</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/Sweatshirt_Mockup_v01.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Product Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Markmanship Shirt Design</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/Sweatshirt_Mockup_v02.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Product Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Markmanship Shirt Design</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/shirt_design.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Product Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Jaiga Shirt Design</b></h5>
        
        </div>

    </div>
</div>