{% include "print_design.html" %}

<div class="col-md-4 anm_mod fast">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/got_love_struck.gif') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Social Media</p>
            <h5 class="p-0 portfolio_card_text"><b>Got Love Struck</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/excel_odyssey.gif') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Social Media</p>
            <h5 class="p-0 portfolio_card_text"><b>Excel Odyssey</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4 anm_mod fast">

        <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/adobe_animate.gif') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Social Media</p>
            <h5 class="p-0 portfolio_card_text"><b>Adobe Animate</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4 anm_mod fast">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/Tree_Planting.gif') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Social Media</p>
            <h5 class="p-0 portfolio_card_text"><b>CCC Tree Planting</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/Mothers_day.gif') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Social Media</p>
            <h5 class="p-0 portfolio_card_text" ><b>Mother's Day Greeting</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4 anm_mod fast">

        <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/ml_roster.gif') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Social Media</p>
            <h5 class="p-0 portfolio_card_text"><b>Ml Tournament Roster</b></h5>
        
        </div>

    </div>
</div>

<!-- <div class="col-md-4 anm_mod fast">
    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/ranking.gif') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Sample Title</b></h5>
        
        </div>

    </div>
</div>

<div class="col-md-4 anm_mod fast">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/congrats.gif') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Sample Title</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4 anm_mod fast">

        <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/ml.gif') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text" >Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>Sample Title</b></h5>
        
        </div>

    </div>
</div> -->

<!-- <div class="col-md-4">

    <div class="card mb-3 p-0">

        <img class="" style="object-fit: cover; width: 100%; border-radius: 10px;" src="{{ url_for('static', filename='img/dozeeye_manual_mockup.jpg') }}" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">Print Design</p>
            <h5 class="p-0 portfolio_card_text"><b>DozeEye Manual</b></h5>
        
        </div>

    </div>
</div> -->


