<div class="col-md-4">

    <div class="card mb-3 p-0">

        <img class="folio_image" src="img/dozeeye_mobile.jpg" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">UI Design</p>
            <h5 class="p-0 portfolio_card_text"><b>DozeEye Mobile App</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4">

    <div class="card mb-3 p-0">

        <img class="folio_image" src="img/emonitoring.jpg" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">UI Design</p>
            <h5 class="p-0 portfolio_card_text"><b>E Monitoring System</b></h5>
        
        </div>

    </div>

</div>

<div class="col-md-4">

    <div class="card mb-3 p-0">

        <img class="folio_image" src="img/dci_connect.jpg" alt="">
        
        <div class="card-text" style="height: fit-content;">

            <p class="pt-2 mb-0 portfolio_card_text">UI Design</p>
            <h5 class="p-0 portfolio_card_text"><b>DCI Connect</b></h5>
        
        </div>

    </div>
</div>